{% extends "base.html" %}
{% block title %}
Peru Website - About
{% endblock %}

{% block content %}
<center>
	<h1>Peru Website - About</h1>
	<p>I coded this webpage for a school Spanish project, as you probably already know. The source code can be found at <a href="https://github.com/ThePeeps191/Spanish-Culture-Project" target="_blank">Github</a> and <a href="https://repl.it/@ThePeeps191/Spanish-Culture-Project#main.py" target="_blank">Repl.it</a>. Please don't take my code though. I worked very hard, but feel free to attach links to it in your own site.</p>
</center>

<script src="{{ url_for('static', filename='Scripts/JS/about.js') }}"></script>
{% endblock %}