{% extends "base.html" %}
{% block title %}
Peru Website - Facts
{% endblock %}

{% block content %}
<center>
	<h1>Peru Website - Facts</h1>
</center>
<h5>
<ul>
	<li> The population of <b>Peru</b> is <b>33,359,418</b> people.</li><br>
	<li>The official name for <b>Peru</b> is the "<b>Republic Of Peru</b>".</li><br>
	<li>The <b>Spanish Empire</b> conquered the region in the 16th century.</li><br>
	<li>The currenct president of <b>Peru</b> is <b>Francisco Sagasti</b>.</li><br>
	<li>The name of <b>Peru</b> may be derived from <b>Birú,</b> the name of a local ruler who lived near the <b>Bay of San Miguel, Panama City</b>, in the early 16th century.</li>
</ul>
</h5>

<script src="{{ url_for('static', filename='Scripts/JS/facts.js') }}"></script>
{% endblock %}