{% extends "base.html" %}
{% block title %}
Peru Website - Festivals
{% endblock %}

{% block content %}
<center>
	<h1>Peru Website - Festivals</h1>
</center>
<p> There are many festivals that Peruvians celebrate. You may celebrate some, and not others. However, many festivals are not native to peru. In this page, we will discuss 12 Peruvian festivals, one for each month of the year.</p>
<img src="https://activeadventures.com/assets/images/blog/2018/Peru-Festivals/Fiesta-de-la-Candelaria.jpg" width="40%" height="40%" alt="festivals">
<br><br>
<center><h3>12 Festivals List:</h3></center>
<h4>
	<ol>
		<li>January - Trujillo Marinera Festival</li>
		<li>February - Fiesta de la Candelaria</li>
		<li>March - Festival Internacional de la Vendimia</li>
		<li>April - Festividad del Señor del los Temblores del Cusco</li>
		<li>May - Fiesta de las Cruces</li>
		<li>June - Inti Raymi</li>
		<li>July - Fiesta de la Virgen del Carmen</li>
		<li>August - Día de Santa Rosa de Lima</li>
		<li>September - Mistura Culinary Festival</li>
		<li>October - Procesión del Señor de los Milagros</li>
		<li>November - Puno Week</li>
		<li>December - Santuranticuy</li>
	</ol>
</h2><br>
<h5> Each festival means a lot to a Peruvian. it means there whole history and culture. many of them include fun dances, colorful items/clothes, and special delicous foods.</h5>

<script src="{{ url_for('static', filename='Scripts/JS/festivals.js') }}"></script>
{% endblock %}