{% extends "base.html" %}
{% block title %}
Peru Website - List of Cities
{% endblock %}

{% block content %}
<center>
	<h1>Peru Website - List of Cities</h1>
</center>
<center>
	<h3>The list of Peruvian cities, from most populated to least populated, is:</h3>
</center>
<ul><li>Lima</li>
<li>Arequipa</li>
<li>Callao</li>
<li>Trujillo</li>
<li>Chiclayo</li>
<li>Iquitos</li>
<li>Huancayo</li>
<li>Piura</li>
<li>Chimbote</li>
<li>Cusco</li>
<li>Pucallpa</li>
<li>Tacna</li>
<li>Santiago de Surco</li>
<li>Ica</li>
<li>Juliaca</li>
<li>Sullana</li>
<li>Chincha Alta</li>
<li>Huanuco</li>
<li>Ayacucho</li>
<li>Cajamarca</li>
<li>Puno</li>
<li>Tumbes</li>
<li>Talara</li>
<li>Chosica</li>
<li>Huaraz</li>
<li>Cerro de Pasco</li>
<li>Chulucanas</li>
<li>San Isidro</li>
<li>Huaral</li>
<li>Pisco</li>
<li>Catacaos</li>
<li>Paita</li>
<li>Abancay</li>
<li>Huacho</li>
<li>Moquegua</li>
<li>Ilo</li>
<li>Tingo Maria</li>
<li>Jaen</li>
<li>Tarma</li>
<li>Barranca</li>
<li>Moyobamba</li>
<li>Lambayeque</li>
<li>Picsi</li>
<li>Chepen</li>
<li>Yurimaguas</li>
<li>Huancavelica</li>
<li>Sana</li>
<li>Tambopata</li>
<li>Juanjui</li>
<li>Puerto Maldonado</li>
<li>La Union</li>
<li>Ferrenafe</li>
<li>Sicuani</li>
<li>La Oroya</li>
<li>Chocope</li>
<li>Imperial</li>
<li>Nuevo Imperial</li>
<li>Tambo Grande</li>
<li>La Rinconada</li>
<li>Pacasmayo</li>
<li>Tocache</li>
<li>Mollendo</li>
<li>Chaupimarca</li>
<li>Paramonga</li>
<li>La Peca</li>
<li>Chancay</li>
<li>Hualmay</li>
<li>Monsefu</li>
<li>Marcavelica</li>
<li>San Vicente de Canete</li>
<li>Querecotillo</li>
<li>Guadalupe</li>
<li>Santa Ana</li>
<li>Rioja</li>
<li>Laredo</li>
<li>Nazca</li>
<li>Yanacancha</li>
<li>Sechura</li>
<li>Moche</li>
<li>Santiago de Cao</li>
<li>Huamachuco</li>
<li>Paijan</li>
<li>Jauja</li>
<li>Viru</li>
<li>Huaura</li>
<li>Bagua Grande</li>
<li>Chachapoyas</li>
<li>Ayaviri</li>
<li>Huanta</li>
<li>Uchiza</li>
<li>La Breita</li>
<li>Andahuaylas</li>
<li>Mala</li>
<li>Zarumilla</li>
<li>Camana</li>
<li>San Pedro de Lloc</li>
<li>Huarmey</li>
<li>Yunguyo</li>
<li>Chongoyape</li>
<li>Ilave</li>
<li>San Clemente</li>
<li>Pimentel</li>
<li>Satipo</li>
<li>Minas de Marcona</li>
<li>Junin</li>
<li>Bellavista</li>
<li>Coishco</li>
<li>Chicama</li>
<li>Saposoa</li>
<li>Santa Maria</li>
<li>Tabalosos</li>
<li>San Ramon</li>
<li>Celendin</li>
<li>Chota</li>
<li>Salinera Colan</li>
<li>Puerto Santa</li>
<li>Ascope</li>
<li>Contamana</li>
<li>Supe</li>
<li>Eten</li>
<li>Lamas</li>
<li>Motupe</li>
<li>Pativilca</li>
<li>Cajabamba</li>
<li>Bambamarca</li>
<li>Azangaro</li>
<li>Vice</li>
<li>Chilca</li>
<li>Atuncolla</li>
<li>Pueblo Nuevo</li>
<li>Morropon</li>
<li>Zorritos</li>
<li>Oxapampa</li>
<li>Puerto Supe</li>
<li>Concepcion</li>
<li>Villa Tupac Amaru</li>
<li>Caras</li>
<li>Soritor</li>
<li>Santa Rosa</li>
<li>Puquio</li>
<li>Santiago</li>
<li>Otuzco</li>
<li>Salaverry</li>
<li>Chupaca</li>
<li>Reque</li>
<li>Olmos</li>
<li>Ilabaya</li>
<li>Sisa</li>
<li>Las Lomas</li>
<li>El Alto</li>
<li>Quiruvilca</li>
<li>Lagunas</li>
<li>Calca</li>
<li>Carhuamayo</li>
<li>Aguas Verdes</li>
<li>Mancora</li>
<li>Subtanjalla</li>
<li>Yauya</li>
<li>Campoverde</li>
<li>San Luis</li>
<li>Cocachacra</li>
<li>San Jeronimo</li>
<li>Pacanga</li>
<li>Huancabamba</li>
<li>La Huaca</li>
<li>San Miguel</li>
<li>Pilcomay</li>
<li>Putina</li>
<li>Chazuta</li>
<li>Buenos Aires</li>
<li>San Ignacio</li>
<li>Morococha</li>
<li>Los Aquijes</li>
<li>Hacienda Huancane</li>
<li>Pacocha</li>
<li>Urubamba</li>
<li>Mochumi</li>
<li>Villa Rica</li>
<li>San Jose</li>
<li>Coracora</li>
<li>Talavera</li>
<li>Juli</li>
<li>Cajaruro</li>
<li>Jepelacio</li>
<li>Torata</li>
<li>Tucume</li>
<li>San Juan Bautista</li>
<li>Ambo</li>
<li>Perene</li>
<li>Sicaya</li>
<li>Mazamari</li>
<li>Acolla</li>
<li>Santiago de Chuco</li>
<li>Huicungo</li>
<li>Picota</li>
<li>Morrope</li>
<li>Pangoa</li>
<li>Quilmana</li>
<li>Punta de Bombon</li>
<li>Oyotun</li>
<li>Bellavista</li>
<li>Oyon</li>
<li>Vegueta</li>
<li>Sayan</li>
<li>Jayanca</li>
<li>Macusani</li>
<li>Lluta</li>
<li>San Agustin</li>
<li>Yanahuanca</li>
<li>Bernal</li>
<li>Palpa</li>
<li>Anta</li>
<li>Huayucachi</li>
<li>Asentamiento Humano Nicolas de Pierola</li>
<li>Barranca</li>
<li>Pueblo Nuevo</li>
<li>San Pedro de Cajas</li>
<li>San Bartolo</li>
<li>Yura</li>
<li>Orcopampa</li>
<li>San Jeronimo</li>
<li>Pampas</li>
<li>Caleta de Carquin</li>
<li>Ramon Castilla</li>
<li>Papayal</li>
<li>Urcos</li>
<li>Salitral</li>
<li>Desaguadero</li>
<li>San Miguel de Cauri</li>
<li>Ayabaca</li>
<li>Yungay</li>
<li>Huasahuasi</li>
<li>Tinyahuarco</li>
<li>Carhuaz</li>
<li>Tambo</li>
</ul>
<script src="{{ url_for('static', filename='Scripts/JS/list_of_cities.js') }}"></script>
{% endblock %}